/* SKINS */
.mod-cabinet{{{cns}}} {
    font-family: 'Cooper Hewitt', Helvetica,Arial,Sans-serif;
    height: auto;
    position: relative;
    width: auto;
}

/* CABINET FACE */
.mod-cabinet{{{cns}}} .mod-cabinet-face {
    background-position: center center;
    background-repeat: no-repeat;
    width: 374px;
    height: 374px;
    position: relative;
}

.mod-cabinet{{{cns}}}.mod-cabinet-model-1 .mod-cabinet-face {
    background-image: url(/resources/bg/cabinet-face-gold.png{{{ns}}});
}
.mod-cabinet{{{cns}}}.mod-cabinet-model-2 .mod-cabinet-face {
    background-image: url(/resources/bg/cabinet-face-silver.png{{{ns}}});
}

.mod-cabinet{{{cns}}} .mod-cabinet-info {
    display: table;
    vertical-align: middle;
    height: 100%;
    width: 100%
}
/* AUTHOR'S NAME */
.mod-cabinet{{{cns}}} .mod-plugin-brand {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mod-cabinet{{{cns}}} .mod-plugin-brand h1{
    background: #2b2422;

    display: inline;
    text-transform: uppercase;
    font-size: 30px;
    padding: 2px 5px;
    border-radius: 7px;
    margin: 0;
    line-height: 33px;
    -webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.64);
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.64);
}
.mod-cabinet{{{cns}}}.mod-cabinet-model-1 .mod-plugin-brand h1{
    color: #aba375;
    border: 2px solid #aba375;
}

.mod-cabinet{{{cns}}}.mod-cabinet-model-2 .mod-plugin-brand h1{
    color: #bcbcbc;
    border: 2px solid #bcbcbc;
}

/* PLUGIN'S NAME */
.mod-cabinet{{{cns}}} .mod-plugin-name {
    display: table-row;
    text-align: right
}
.mod-cabinet{{{cns}}} .mod-plugin-name h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    text-align: right;
    padding: 15px 30px;
    margin-top: -30px;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.78);
}

.mod-cabinet{{{cns}}}.mod-cabinet-model-1 .mod-plugin-name h1{
    color: #aba375;
}
.mod-cabinet{{{cns}}}.mod-cabinet-model-2 .mod-plugin-name h1{
    color: #bcbcbc;
}

/* CONTROLS */
.mod-cabinet{{{cns}}} .mod-cabinet-controls {
    position: absolute;
}
.mod-cabinet{{{cns}}} .mod-cabinet-controls header {
    background-image: url(/resources/bg/cabinet-back-top.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
    width: 374px;
    display: block
}
.mod-cabinet{{{cns}}} .mod-cabinet-controls footer {
    background-image: url(/resources/bg/cabinet-back-bottom.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
    width: 374px;
    display: block
}

.mod-cabinet{{{cns}}} .mod-cabinet-controls main {
    background-image: url(/resources/bg/cabinet-back-middle.png{{{ns}}});
    background-position: center center;
    background-repeat: repeat-y;
    width: 374px;
    display: block;
    padding: 10px 30px;
}

.mod-cabinet{{{cns}}} .mod-control-group.group1{
    width: 110px;
    display: inline-block;
    padding: 16px;
    vertical-align: top
}

.mod-cabinet{{{cns}}} .mod-control-group.group2{
    width: 200px;
    display: inline-block;
}

/* SWITCH ON/OFF GENERAL */
.mod-cabinet{{{cns}}} .mod-cabinet-controls .mod-switch {
    cursor: pointer;
    float: left;
    height: 70px;
    width: 70px;
    z-index: 100000000
}

.mod-cabinet{{{cns}}} .mod-cabinet-controls .mod-switch .mod-switch-image {
    background-image: url(/resources/switches/switch-cabinet.png{{{ns}}});
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 70px;
    width: 70px;
}

.mod-cabinet{{{cns}}} .mod-cabinet-controls .mod-switch-image.on {
    background-position: 100% 0;
}

.mod-cabinet{{{cns}}} .mod-cabinet-controls .mod-switch-image.off {
    background-position: 0 0;
}

/* ENUMERATED LIST */
.mod-cabinet{{{cns}}} .mod-enumerated {
    color: #000;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    cursor: pointer
}

.mod-cabinet{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    background: rgba(255,255,255,.85);
    border-radius: 4px;
    box-shadow:inset 1px 1px 10px #000;
    font-size: 14px;
    height: 34px;
    line-height: 2.5;
    margin-right: 8px;
    overflow: hidden;
    padding: 0 9px;
}

/* WHEN IS HOVER */
.mod-cabinet{{{cns}}} .mod-enumerated:hover .mod-enumerated-selected {
    border-radius: 4px 4px 0 0;
}

/* THE LIST OF OPTIONS */
.mod-cabinet{{{cns}}} .mod-enumerated .mod-enumerated-list {
    background: rgba(255,255,255,.85);
    display: none;
    font-weight: bold;
    height: 69px;
    overflow: auto;
    position: relative;
    position: absolute;
    width: 200px;
    z-index: 3;
}

.mod-cabinet{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding: 3px 9px;
}

.mod-cabinet{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background: rgba(0,0,0,.35);
    cursor: pointer;
}

/* INPUT / OUTPUT  */

.mod-cabinet{{{cns}}} .mod-pedal-input , .mod-cabinet{{{cns}}} .mod-pedal-output {
    top: 40%;
}

/* KNOB */
.mod-cabinet{{{cns}}} .mod-knob {
    float: left;
    height: 75px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 55px;
    margin-left: 60px;
    cursor: pointer
}

.mod-cabinet{{{cns}}} .mod-knob .mod-knob-image {
    background-image: url(/resources/knobs/knob.png{{{ns}}});
    background-position: left 0px;
    background-repeat: no-repeat;
    background-size: auto 55px;
    height: 55px;
    margin-top: 3px;
    position: relative;
    width: 55px;
    z-index: 2;
}

.mod-cabinet{{{cns}}} .mod-knob .mod-knob-title {
    font-family: "Cooper Hewitt";
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}


