/* Global */
.calf {
    background: url(/resources/background_dark.png{{{ns}}}) repeat;
    position: relative;
    color: #FFF;
}

.right {
    float: right !important;
}
/* bar top */

.calf .bar-top {
    background: url(/resources/background_black.png{{{ns}}}) repeat;
    height: 46px;
    left: 0;
    position: relative;
    top: 0;
    width: auto;
}

.calf .bar-top .title-calf {
    color: #FFF;
    display: block;
    left: 35px;
    position: absolute;
    top: 13px;
}
.calf .bar-top .off-or-on-calf {
    background-image: url(/resources/toggle2_silver.png{{ns}});
    background-size: 46px 62px;
    cursor: pointer;
    height: 31px;
    z-index: 100;
    position: absolute;
    right: 5px;
    top: 7px;
    width: 46px;
}
.calf .bar-top .on {
    background-position: top center;
}
.calf .bar-top .off {
    background-position: bottom center;
}
.calf .bar-top .off-or-on-calf span {
    color: #FFF;
    left: -50px;
    position: absolute;
    top: 9px;
}

/* Global calf div */

.calf .global-calf {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 46px;
}

/*bars left*/
.calf .groups-bar-left {
    background: url(/resources/side_w.png{{{ns}}}) repeat-y;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.calf .groups-bar-left .top {
    background: url(/resources/side_nw.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}
.calf .groups-bar-left .bottom {
    background: url(/resources/side_sw.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 56px;
}

/* bars right */
.calf .groups-bar-right {
    background: url(/resources/side_e.png{{{ns}}}) repeat-y;
    bottom: 0;
    right: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.calf .groups-bar-right .top {
    background: url(/resources/side_ne.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.calf .groups-bar-right .bottom {
    background: url(/resources/side_se.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 56px;
}
.calf .groups-bar-right .logo {
    background: url(/resources/side_e_logo.png{{{ns}}});
    height: 90px;
    left: 0;
    position: absolute;
    bottom: 36px;
    width: 56px;
}

/* cols */

.calf .border-solid-and-radius {
    border: solid 1px #FFF;
    border-radius: 7px;
}
.calf .title-of-cols {
    background: #384454;
    color: #FFF;
    font-size: 13px;
    left: 6px;
    padding: 0 5px;
    position: absolute;
    top: -11px;
}

/* knob */

.calf .knob {
    position: absolute;
    cursor: pointer;
}
.calf .knob1 {
    height: 20px;
    width: 20px;
}
.calf .knob1-1 {
    background: url(/resources/knob1-1.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob1-2 {
    background: url(/resources/knob1-2.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob1-3 {
    background: url(/resources/knob1-3.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob1-4 {
    background: url(/resources/knob1-4.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob2 {
    height: 40px;
    width: 40px;
}
.calf .knob2-1 {
    background: url(/resources/knob2-1.png{{{ns}}});
}
.calf .knob2-2 {
    background: url(/resources/knob2-2.png{{{ns}}});
}
.calf .knob2-3 {
    background: url(/resources/knob2-3.png{{{ns}}});
}
.calf .knob2-4 {
    background: url(/resources/knob2-4.png{{{ns}}});
}
.calf .knob3 {
    background: url(/resources/knob3.png{{{ns}}});
}
.calf .knob4 {
    height: 80px;
    width: 80px;
}
.calf .knob4-1 {
    background: url(/resources/knob4-1.png{{{ns}}});
}
.calf .knob4-2 {
    background: url(/resources/knob4-2.png{{{ns}}});
}
.calf .knob4-3 {
    background: url(/resources/knob4-3.png{{{ns}}});
}
.calf .knob4-4 {
    background: url(/resources/knob4-4.png{{{ns}}});
}
.calf .knob5 {
    height: 100px;
    width: 100px;
}
.calf .knob5-1 {
    background: url(/resources/knob5-1.png{{{ns}}});
}
.calf .knob5-2 {
    background: url(/resources/knob5-2.png{{{ns}}});
}
.calf .knob5-3 {
    background: url(/resources/knob5-3.png{{{ns}}});
}
.calf .knob5-4 {
    background: url(/resources/knob5-4.png{{{ns}}});
}

/* titles of things */

.calf .title-fild{
    color: #FFF;
    font-size: 10px;
    position: absolute;
}
.toggle1-silver {
    background: url(/resources/toggle1_silver.png{{{ns}}});
    height: 20px;
    position: absolute;
    width: 30px;
}

.toggle2_silver-silver {
    background: url(/resources/toggle2_silver.png{{{ns}}});
    height: 40px;
    position: absolute;
    width: 60px;
}

.calf .knob1 .title-knob1-top, .calf .knob2 .title-knob2-top, .calf .knob3 .title-knob3-top, .calf .knob4 .title-knob4-top,
.calf .knob5 .title-knob5-top, .calf .knob1 .title-knob1-bottom, .calf .knob2 .title-knob2-bottom, .calf .knob3 .title-knob3-bottom, .calf .knob4 .title-knob4-bottom,
.calf .knob5 .title-knob5-bottom {
    color: #FFFFFF;
    font-size: 11px;
    text-align: center;
}

/* Lines */
.calf .line-cols-all {
    position: absolute;
}
.calf span.value-lines{
    font-size: 11px;
    left: 0;
    position: absolute;
    right: 0;
    top: -15px;
    text-align: center;
}
/* Slider */
/* Screw */

.calf .screw_min {
    background: url(/resources/screw1.png{{{ns}}});
    background-size: 15px;
    height: 15px;
    position: absolute;
    width: 15px;
    top: -7px;

}
/* control group */
.calf-filterclavier .control-group{
    position: absolute;
    top: 20px;
    font-size: 11px;
    width: 132px;
    height: 251px;
    text-align: center;
}
.calf-filterclavier .control-group .knob-group {
    width: 100%;
    margin-bottom: 20px;
}
.calf-filterclavier .control-group .knob{
    margin: 0 auto  !important;
    position: relative !important
}
.calf-filterclavier .control-group .value-bottom {
    width: 100px;
    margin: 0 auto -30px auto;
}
/* titles of things */
.calf .title-fild-bottom {
    font-size: 12px;
}

/* button of bypass */

.calf .button-bypass {
    background: url(/resources/toggle2_silver.png{{{ns}}});
    height: 40px;
    position: absolute;
    width: 60px;
}
.calf-filterclavier {
	height: 350px;
	width: 761px;
}

/* Cols top*/
.calf-filterclavier .master {
    right: 100px;
    top: 26px;
}
.calf-filterclavier .mix {
    right: 203px;
    top: 26px;
}


.calf-filterclavier .mode {
    background: url(/resources/room-size-two.png{{{ns}}});
    top: 225px;
    height: 31px;
    left: 285px;
    position: absolute;
    z-index: 100000 !important;
    width: 207px;
    cursor: pointer;
}
.calf-filterclavier .mode .mod-enumerated-list {
    background-color: rgba(0,0,0,.8) !important;
    display: none;
    height: 120px;
    width: 187px;
    font-size: 12px;
    padding: 0 10px;
    margin-top: 10px;
    z-index: 100;
    color: white !important;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    text-align: left;
}
.calf-filterclavier .mode .mod-enumerated-list div:hover{
    background: white;
    color: black;
    }
.calf-filterclavier .mode .mod-enumerated-selected:before {
    content: '\25BE \a0';
    text-align: left
}
.calf-filterclavier .mod-enum-title {
    position: absolute;
    top: 230px;
    left: 235px;
    font-size: 12px;
}
.calf-filterclavier .mode .mod-enumerated-selected {
    text-align: left;
    background: transparent;
    border: none;
    color: #333333;
    display: block;
    font-size: 12px;
    padding: 0;
    position: relative;
    left: 4px;
    margin: 0 0 0 5px;
    top: 7px;
    width: 200px; 
}

/* frq - disable */

.calf-filterclavier .freq-response {
    background: url(/resources/disable-freq.png{{{ns}}}) no-repeat center;
    height: 194px;
    position: absolute;
    left: 180px;
    width: 398px;
}
.calf-filterclavier .input-freq {
    top: 22px;
}
.calf-filterclavier .output-freq {
    top: 45px;
}
.calf-filterclavier .title-freq-top{
    left: 0;
    right: 0;
    text-align: center;
    top: -18px;
}
.calf-filterclavier .title-freq-top-two {
    left: 0;
    text-align: center;
    right: 0;
    top: -45px;
}
.calf-filterclavier .title-freq-bottom{
    left: 0;
    right: 0;
    text-align: center;
    bottom: -18px;
}
.calf-filterclavier .db {
    text-align: right;
    right: 0
}
.calf-filterclavier .display {
    background: url(/resources/combo-sm.png{{ns}});
    top: 181px;
    background-size: 50px auto;
    height: 28px;
    left: -10px;
    position: absolute;
    width: 50px;
    color: black;
    font-size: 11px;
    line-height: 28px;
    text-align: center;
}
.calf-filterclavier .tape-tube {
    left: 290px;
    top: 20px;
    width: 176px;
    text-align: left;
    position: absolute;
}
.calf-filterclavier .slider-horiz {
    background: url(/resources/sliders-vert-disable2.png{{ns}});
    background-size: auto 152px;
    height: 152px;
    position: absolute;
    width: 32px;
    cursor: pointer;
    
}
.calf-filterclavier .left {
    left: 50px;
}
.calf-filterclavier .right {
    right: 50px;
}
/* Cols center */
.calf-filterclavier .activation {
    left: 100px;
    bottom: 125px;
}
.calf-filterclavier .saturation {
    right: 100px;
    bottom: 125px;
}

/* Cols bottom*/
.calf-filterclavier .pre {
    bottom: 10px;
    height: 80px;
    left: 75px;
    position: absolute;
    width: 153px;
}
.calf-filterclavier .pre .highpass {
    left: 18px;
    top: 23px;
}
.calf-filterclavier .pre .lowpass {
    right: 18px;
    top: 23px;
}
.calf-filterclavier .tone {
    bottom: 10px;
    height: 80px;
    left: 247px;
    position: absolute;
    width: 266px;
}
.calf-filterclavier .tone .tone-knob {
    left: 26px;
    top: 23px;
}
.calf-filterclavier .tone .amount {
    left: 112px;
    top: 23px;
}
.calf-filterclavier .tone .gradient {
    left: 198px;
    top: 23px;
}
.calf-filterclavier .post {
    bottom: 10px;
    height: 80px;
    right: 75px;
    position: absolute;
    width: 153px;
}
.calf-filterclavier .post .highpass {
    left: 18px;
    top: 23px;
}
.calf-filterclavier .post .lowpass {
    right: 18px;
    top: 23px;
}


.knob, .slider-horiz, .tubeh2-off, .freq {
    z-index: 99999;
}

/* Input/Output */
 .calf-pedal-input {
    left:-46px !important;
 }
.calf-pedal-output {
    right:-44px !important;
}