/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);


/* = CONTAINER
================================================ */
.mod-pedal-boxy{{{cns}}} {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:230px 431px;
    height:431px;
    position:absolute;
    width:230px;
    border-radius: 21px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy50 {
    background-size:301px 315px;
    height:315px;
    width:301px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy75 {
    background-size:326px 431px;
    width:326px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy85 {
    background-size:364px 431px;
    width:364px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy100 {
    background-size:421px 431px;
    width:421px;
}

/* PORTS
================================================ */

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-pedal-input,
.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-pedal-output {
    top: 66px;
}

/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-brand {
    left:0;
    position:absolute;
    right:0;
    text-align:center;
    text-transform:uppercase;
    top:160px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-brand h1 {
    border-color:#000;
    border-radius:12px;
    border-style:solid;
    border-width:4px;
    display:inline-block;
    font-family:"Nexa";
    font-size:32px;
    padding:3px 9px 0;
}

.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-plugin-brand,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-plugin-brand,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-plugin-brand,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-plugin-brand {
    top:190px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-plugin-brand {
  top:16px;
}

.mod-pedal-boxy{{{cns}}}.mod-one-footswitch-presets .mod-plugin-brand {
  top:12px;
}


/* = PLUGIN'S NAME
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:center;
    top:340px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:21px;
    line-height:1;
}

.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-plugin-name,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-plugin-name,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-plugin-name,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-plugin-name {
    top:350px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-plugin-name {
  top:230px;
}


/* = LIGHT ON/OFF
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    height:32px;
    left:10px;
    position:absolute;
    right:10px;
    top:235px;
}

.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-light,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-light,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-light,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-light {
    top:253px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-light {
  top:105px;
}

.mod-pedal-boxy{{{cns}}}.mod-one-footswitch-presets .mod-light {
  top:120px;
}


/* = FOOTSWITCH
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-footswitch {
    background-image:url(/resources/pedals/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    bottom: 95px;
    left: 13px;
    right: 13px;
    cursor:pointer;
    height:66px;
    width: 66px;
    margin: auto;
    position:absolute !important;
}
.mod-pedal-boxy{{{cns}}} .mod-footswitch.on {
    background-position-y: top !important
}

.mod-pedal-boxy{{{cns}}}.mod-five-knobs .mod-footswitch,
.mod-pedal-boxy{{{cns}}}.mod-six-knobs .mod-footswitch,
.mod-pedal-boxy{{{cns}}}.mod-seven-knobs .mod-footswitch,
.mod-pedal-boxy{{{cns}}}.mod-eight-knobs .mod-footswitch {
    top:285px;
}

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-footswitch {
    top:140px;
}

.mod-pedal-boxy{{{cns}}}.mod-one-footswitch-presets .mod-footswitch {
    top:170px;
}


/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group {
    margin:20px !important;
    position:relative;
    text-align:center;
    z-index:30;
}
.mod-pedal-boxy{{{cns}}} .top {
    margin-top:0px !important;
}

.mod-pedal-boxy{{{cns}}}.mod-one-footswitch-presets .mod-control-group {
    margin:10px !important;
    top:75px;
}

.mod-pedal-boxy{{{cns}}}.mod-one-footswitch-presets .mod-control-group > select {
    width:100%;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob {
    overflow:hidden;
    position:relative;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    bottom:0px;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    left:0;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
}

/* ONE KNOB */
.mod-pedal-boxy{{{cns}}}.mod-one-knob .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/boxy/boxy.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 98px;
    height:98px;
    width:98px;
    margin:0 auto;
}
.mod-pedal-boxy{{{cns}}}.mod-one-knob .mod-control-group .mod-knob > span.mod-knob-title {
    font-size:15px;
    height:15px;
}
.mod-pedal-boxy{{{cns}}}.mod-one-knob .mod-control-group .mod-knob {
    height:115px;
}

/* TWO KNOBS */
.mod-pedal-boxy{{{cns}}}.mod-two-knobs .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/boxy/boxy.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 70px;
    height:70px;
    width:70px;
    margin:0 auto;
}
.mod-pedal-boxy{{{cns}}}.mod-two-knobs .mod-control-group .mod-knob > span.mod-knob-title {
    font-size:13px;
}
.mod-pedal-boxy{{{cns}}}.mod-two-knobs .mod-control-group .mod-knob {
    float:left;
    width:50%;
}
.mod-pedal-boxy{{{cns}}}.mod-two-knobs .mod-control-group .mod-knob {
    height:83px;
}

/* = BACKGROUND IMAGES - Color of the pedal
================================================ */

.mod-pedal-boxy{{{cns}}}.mod-knightfuzz {
    background-image:url(/resources/pedals/boxy/knightfuzz.png{{{ns}}});
}


/* = COLORS - Color of the pedals labels
================================================ */

.mod-pedal-boxy{{{cns}}}.mod-knightfuzz h1,
.mod-pedal-boxy{{{cns}}}.mod-knightfuzz .mod-control-group .mod-knob > span.mod-knob-title
{
    color:white;
}


/* = KNOBS
================================================ */

.mod-pedal-boxy{{{cns}}} .mod-control-group.mod-cairo .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/boxy/cairo.png{{{ns}}});
}
