.blop_square {
	width: 200px;
	height: 297px;
	border-radius: 0;
}
.blop_square .mod-knob {
	height: 110px;
	float: left;
	cursor: pointer;
	margin-left: 10px;
	overflow: visible !important
}
.blop_square .mod-control-group {
	position: absolute;
	margin: 0;
	top:72px;
	height: 140px;
	width: 100%;
}
.blop_square #freq .mod-knob-image {
	background-image: url(/resources/vintage-big2.png{{{ns}}});
	background-size: auto 110px;
	width: 110px;
	height: 110px;
}
.blop_square .mod-knob-value {
	color: #57D8FF !important;
	background: #222;
	font-family: monospace;
	text-align: right;
	margin: 5px auto;
	padding-right: 2px;
	border: 1px inset #555;
	display: block;
	height: 20px;
	width: 90px;
	overflow: hidden;
}
.blop_square {
	background: url(/resources/square.png{{{ns}}}) no-repeat;
}
.blop_square .mod-footswitch {
	background-image:url(/resources/switch-key.png{{{ns}}});
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto 154px;
	cursor: pointer;
	height: 77px;
	width: 43px;
	top: 85px;
	left: 135px !important;
	position: absolute;
	z-index: 100;
}
.blop_square .mod-footswitch.on {
	background-position:top center;
}
.blop_square .mod-footswitch.off {
	background-position:bottom center;
}
.blop_square .mod-light {
	height: 32px;
	width: 32px;
	top: 45px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	position: absolute;
}
.blop_square .mod-light.off {
	background-image:url(/resources/red-light-off.png{{{ns}}});
}
.blop_square .mod-light.on {
	background-image:url(/resources/red-light-on.png{{{ns}}});
}
