/* STYLES FOR THE JAPANESE PEDAL */

@import url(/fonts/epf/stylesheet.css);
@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/pirulen/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);

/* = FONT
================================================ */
@font-face {
    font-family: 'artyfx-bitta-uranium';
    src: url(/resources/fonts/uranium.ttf{{{ns}}}) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* = CONTAINER
================================================ */
.mod-pedal-artyfx-bitta {
    background-position:center center;
    background-repeat:no-repeat;
    background-image:url(/resources/pedals/japanese/black.png{{{ns}}});
    height:530px;
    position:absolute;
    width:274px;
    border-radius:18px;
}

/* PORTS
================================================ */

.mod-pedal-artyfx-bitta.mod-pedal .mod-pedal-input,
.mod-pedal-artyfx-bitta.mod-pedal .mod-pedal-output {
    top: 186px;
}

/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-artyfx-bitta .mod-plugin-brand {
    bottom:95px;
    left:30px;
    position:absolute;
    right:30px;
    text-align:center;
    text-transform:uppercase;
}

.mod-pedal-artyfx-bitta .mod-plugin-brand h1 {
    color:#292d31;
    font-family:"Nexa";
    font-family:"artyfx-bitta-uranium" !important;
    font-size:32px;
    text-shadow:1px 2px 2px rgba(0,0,0,.5),
                2px 4px 5px rgba(0,0,0,.5),
                0px 0px 8px rgba(0,0,0,.5),
                -1px -1px 1px rgba(255,255,255,.2);
}

/* = PLUGIN'S NAME
================================================ */
.mod-pedal-artyfx-bitta .mod-plugin-name {
    bottom:210px;
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:right;
    top:230px;
}

.mod-pedal-artyfx-bitta .mod-plugin-name h1 {
    color: #ddd;
    font-family:"Questrial";
    font-family:"artyfx-bitta-uranium" !important;
    font-size:32px;
    line-height:1;
    text-transform:uppercase;
}

/* = LIGHT ON/OFF
================================================ */
.mod-pedal-artyfx-bitta .mod-light {
    height:32px;
    left:121px;
    position:absolute;
    top:197px;
    width:32px;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal-artyfx-bitta .mod-footswitch {
    bottom:46px;
    cursor:pointer;
    height:155px;
    left:13px;
    position:absolute;
    right:13px;
}

/* = ENUMERATED
================================================ */
.mod-pedal-artyfx-bitta .mod-enumerated {
    background-image:url(/resources/utils/dropdown-arrow-white.png{{{ns}}});
}

.mod-pedal-artyfx-bitta .mod-plugin-name h1,
.mod-pedal-artyfx-bitta .mod-enumerated,
.mod-pedal-artyfx-bitta .mod-control-group .mod-knob > span.mod-knob-title
{
    color:white;
}

/* = KNOBS
================================================ */
.mod-pedal-artyfx-bitta .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/japanese/darkblue.png{{{ns}}});
}

.mod-pedal-artyfx-bitta .mod-control-group {
    height:141px;
    left:17px;
    position:absolute;
    right:17px;
    top:22px;
}
.mod-pedal-artyfx-bitta .mod-control-group .mod-knob {
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    height:112px;
    width:96px;
    margin:10px;
}
.mod-pedal-artyfx-bitta .mod-control-group .mod-knob > span.mod-knob-title {
    color:white;
    display:block;
    font-weight:bold;
    line-height:1;
    margin:0;
    padding:0;
    position:relative;
    overflow:hidden;
    text-transform:uppercase;
    font-size:13px;
    height:22px;
}
.mod-pedal-artyfx-bitta .mod-control-group .mod-knob .mod-knob-image {
    background-position:left center;
    background-repeat:no-repeat;
    margin:0 4px;
    position:relative;
    overflow:hidden;
    background-size:auto 96px;
    height:96px;
    width:96px;
}
