/* = CONTAINER
================================================ */
.mod-pedal-dragonfly-early{
    background-image: url(/resources/background.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 537 482px;
    width: 537px;
    height: 482px;
    border-radius: 10px;
}

.mod-pedal-dragonfly-early .mod-footswitch {
    background-image: url(/resources/switch.png{{{ns}}});
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: auto 56px;
    position: absolute;
    left: 425px;
    top: 389px;
    width: 56px;
    height: 28px;
    margin: 0 auto;
    cursor: pointer;
}

.mod-pedal-dragonfly-early .mod-footswitch.off {
    background-position: top left;
}

.mod-pedal-dragonfly-early .mod-control-group {
    position: absolute;
    display: inline;
    margin: 0px;
    padding: 0px;
    z-index: 30;
}

.mod-pedal-dragonfly-early .mod-control-group.dragonfly-early-group-levels {
    left: 326px;
    top: 26px;
    width: 212px;
    height: 62px;
}

.mod-pedal-dragonfly-early .mod-control-group.dragonfly-early-group-room {
    left: 326px;
    top: 154px;
    width: 212px;
    height: 62px;
}

.mod-pedal-dragonfly-early .mod-control-group.dragonfly-early-group-filter {
    left: 334px;
    top: 282px;
    width: 212px;
    height: 62px;
}

.mod-pedal-dragonfly-early .mod-control-group .mod-knob {
    display: inline-block;
    overflow: hidden;
    position: absolute;
}

.mod-pedal-dragonfly-early .mod-control-group .mod-knob .mod-knob-image {
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.mod-pedal-dragonfly-early .mod-control-group .mod-knob .mod-knob-image.large {
    background-image: url(/resources/knob-large.png{{{ns}}});
    background-size: 62px 62px;
    height: 62px;
    width: 62px;
}

.mod-pedal-dragonfly-early .mod-control-group .mod-knob .mod-knob-image.small {
    background-image: url(/resources/knob-small.png{{{ns}}});
    background-size: 47px 47px;
    height: 47px;
    width: 47px;
}

.mod-pedal-dragonfly-early .mod-control-group.dragonfly-early-group-levels > .mod-knob:nth-child(2) {
    top: 0px;
    left: 95px;
}

.mod-pedal-dragonfly-early .mod-control-group.dragonfly-early-group-room > .mod-knob:nth-child(2) {
    top: 0px;
    left: 95px;
}

.mod-pedal-dragonfly-early .mod-control-group.dragonfly-early-group-filter > .mod-knob:nth-child(2) {
    top: 0px;
    left: 95px;
}