
.falktx-audio-file.mod-pedal {
    background-color: #333;
    color: white;
    width: 458px;
    height: 581px;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.falktx-audio-file-mode-option,
.falktx-audio-file.mod-pedal .mod-control-group {
    position: relative;
    z-index: 35;
}

.falktx-audio-file-mode {
    display: inline-block;
    height: 49px;
}

.falktx-audio-file-mode-option {
    cursor: pointer;
    background: #222;
    color: #fff;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
.falktx-audio-file-mode-option.selected {
    background: #d67516;
}

.falktx-audio-file.mod-pedal .mod-enumerated-group {
    margin: 1px;
    border: 1px #191919 solid;
}

.falktx-audio-file.mod-pedal .mod-enumerated {
    font-size: 20px;
    font-weight: 400;
/*     line-height: 2; */
    line-height: 1.75;
}
.falktx-audio-file.mod-pedal .mod-enumerated .mod-enumerated-list {
    display: block !important;
    background-color: #020202;
    height: 300px;
    overflow: auto;
}
.falktx-audio-file.mod-pedal .mod-enumerated .mod-enumerated-list > div {
    padding: 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.falktx-audio-file.mod-pedal .mod-enumerated .mod-enumerated-list > div.selected {
    background-color: #6b1602;
    border-left: 10px #d67516 solid;
    font-weight: bold;
}

.falktx-audio-file.mod-pedal .mod-enumerated .mod-enumerated-list > div:hover {
    background-color: rgba(255,255,255,.2);
    cursor: pointer;
}
.falktx-audio-file.mod-pedal .mod-enumerated .mod-enumerated-list > div.selected:hover {
    background-color: #af2500;
}
.falktx-audio-file-content-bottom {
    margin: 10px;
}

.falktx-audio-file-info {
    border: 2px #d67516 solid;
    border-radius: 4px;
    background-color: #751700;
}
.falktx-audio-file-info .file-info-svg {
    width: 432px;
    height: 80px;
}
.falktx-audio-file-info .file-info-svg > svg {
    margin: 0px 1px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#131313+0,1c1c1c+9,2b2b2b+24,111111+40,000000+49,2c2c2c+50,474747+61,666666+75,595959+88,4c4c4c+100&0.1+0,0.1+100 */
    background: -moz-linear-gradient(-45deg,  rgba(19,19,19,0.1) 0%, rgba(28,28,28,0.1) 9%, rgba(43,43,43,0.1) 24%, rgba(17,17,17,0.1) 40%, rgba(0,0,0,0.1) 49%, rgba(44,44,44,0.1) 50%, rgba(71,71,71,0.1) 61%, rgba(102,102,102,0.1) 75%, rgba(89,89,89,0.1) 88%, rgba(76,76,76,0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(19,19,19,0.1) 0%,rgba(28,28,28,0.1) 9%,rgba(43,43,43,0.1) 24%,rgba(17,17,17,0.1) 40%,rgba(0,0,0,0.1) 49%,rgba(44,44,44,0.1) 50%,rgba(71,71,71,0.1) 61%,rgba(102,102,102,0.1) 75%,rgba(89,89,89,0.1) 88%,rgba(76,76,76,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(19,19,19,0.1) 0%,rgba(28,28,28,0.1) 9%,rgba(43,43,43,0.1) 24%,rgba(17,17,17,0.1) 40%,rgba(0,0,0,0.1) 49%,rgba(44,44,44,0.1) 50%,rgba(71,71,71,0.1) 61%,rgba(102,102,102,0.1) 75%,rgba(89,89,89,0.1) 88%,rgba(76,76,76,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d131313', endColorstr='#0d4c4c4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.falktx-audio-file-info .file-info-details {
    font-size: 16px;
    margin-left: 4px;
}

.falktx-audio-file-controls {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.falktx-audio-file-controls > div {
    display: block;
    height: 50%;
    text-align: center;
    padding: 8px;
}
.falktx-audio-file-controls > div:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px;
    border-radius: 10px;
}
.falktx-audio-file.mod-pedal .title {
    font-size: 16px;
    font-weight: bold;
}
.falktx-audio-file.mod-pedal .mod-knob-image {
    background-image:url(/resources/orange-knob.png{{{ns}}});
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 52px;
    font-weight: bold;
    height: 52px;
    width: 52px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.falktx-audio-file.mod-pedal .mod-switch-image {
    background-image: url(/resources/switch.png{{{ns}}});
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 50px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.falktx-audio-file.mod-pedal .mod-switch-image.transport {
    background-image: url(/resources/switch-transport.png{{{ns}}});
}
.falktx-audio-file.mod-pedal .mod-switch-image.off {
    background-position: right center !important;
}
.falktx-audio-file.mod-pedal .mod-switch-image.on {
    background-position: left center !important;
}
