/* Global */
.calf {
    background: url(/resources/background_dark.png{{{ns}}}) repeat;
    position: relative;
    color: #FFF;
}

/* bar top */

.calf.calf-exciter .bar-top {
    background: url(/resources/background_black.png{{{ns}}}) repeat;
    height: 46px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.calf .bar-top .title-calf {
    color: #FFF;
    display: block;
    left: 35px;
    position: absolute;
    top: 13px;
}
.calf .bar-top .off-or-on-calf {
    background-image: url(/resources/toggle2_silver.png{{ns}});
    background-size: 46px 62px;
    cursor: pointer;
    height: 31px;
    z-index: 100;
    position: absolute;
    right: 5px;
    top: 7px;
    width: 46px;
}
.calf .bar-top .on {
    background-position: top center;
}
.calf .bar-top .off {
    background-position: bottom center;
}
.calf .bar-top .off-or-on-calf span {
    color: #FFF;
    left: -50px;
    position: absolute;
    top: 9px;
}

/* Global calf div */

.calf .global-calf {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 46px;
}
/* group */
.calf .calf-control-group {
    position: absolute;
    z-index: 100000
}

/*bars left*/
.calf .groups-bar-left {
    background: url(/resources/side_w.png{{{ns}}}) repeat-y;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.calf .groups-bar-left .top {
    background: url(/resources/side_nw.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}
.calf .groups-bar-left .bottom {
    background: url(/resources/side_sw.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 56px;
}

/* bars right */
.calf .groups-bar-right {
    background: url(/resources/side_e.png{{{ns}}}) repeat-y;
    bottom: 0;
    right: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.calf .groups-bar-right .top {
    background: url(/resources/side_ne.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.calf .groups-bar-right .bottom {
    background: url(/resources/side_se.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 56px;
}
.calf .groups-bar-right .logo {
    background: url(/resources/side_e_logo.png{{{ns}}});
    height: 90px;
    left: 0;
    position: absolute;
    bottom: 36px;
    width: 56px;
}

/* cols */

.calf .border-solid-and-radius {
    border: solid 1px #FFF;
    border-radius: 7px;
}
.calf .title-of-cols {
    background: #384454;
    color: #FFF;
    font-size: 13px;
    left: 6px;
    padding: 0 5px;
    position: absolute;
    top: -11px;
}

/* knob */

.calf.calf-exciter .knob {
    cursor: pointer;
    float: left;
    position: relative;
    text-align: center;
    font-size: 10px;
}
.calf .knob1 {
    height: 20px;
    width: 20px;
}
.calf .knob1-1 {
    background: url(/resources/knob1-1.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob1-2 {
    background: url(/resources/knob1-2.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob1-3 {
    background: url(/resources/knob1-3.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob1-4 {
    background: url(/resources/knob1-4.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob2 {
    height: 40px;
    width: 40px;
}
.calf .knob2-1 {
    background: url(/resources/knob2-1.png{{{ns}}});
}
.calf .knob2-2 {
    background: url(/resources/knob2-2.png{{{ns}}});
}
.calf .knob2-3 {
    background: url(/resources/knob2-3.png{{{ns}}});
}
.calf .knob2-4 {
    background: url(/resources/knob2-4.png{{{ns}}});
}
.calf .knob3 {
    height: 60px;
    width: 60px;
    background: url(/resources/knob3.png{{{ns}}});
}
.calf .knob4 {
    height: 80px;
    width: 80px;
}
.calf .knob4-1 {
    background: url(/resources/knob4-1.png{{{ns}}});
}
.calf .knob4-2 {
    background: url(/resources/knob4-2.png{{{ns}}});
}
.calf .knob4-3 {
    background: url(/resources/knob4-3.png{{{ns}}});
}
.calf .knob4-4 {
    background: url(/resources/knob4-4.png{{{ns}}});
}
.calf .knob5 {
    height: 100px;
    width: 100px;
}
.calf .knob5-1 {
    background: url(/resources/knob5-1.png{{{ns}}});
}
.calf .knob5-2 {
    background: url(/resources/knob5-2.png{{{ns}}});
}
.calf .knob5-3 {
    background: url(/resources/knob5-3.png{{{ns}}});
}
.calf .knob5-4 {
    background: url(/resources/knob5-4.png{{{ns}}});
}

/* titles of things */

.calf .title-field{
    color: #FFF;
    font-size: 10px;
}
.toggle1-silver {
    background: url(/resources/toggle1_silver.png{{{ns}}});
    height: 20px;
    position: absolute;
    width: 30px;
}

.toggle2_silver-silver {
    background: url(/resources/toggle2_silver.png{{{ns}}});
    height: 40px;
    position: absolute;
    width: 60px;
}

.calf .knob1 .title-knob1-top, .calf .knob2 .title-knob2-top, .calf .knob3 .title-knob3-top, .calf .knob4 .title-knob4-top,
.calf .knob5 .title-knob5-top, .calf .knob1 .title-knob1-bottom, .calf .knob2 .title-knob2-bottom, .calf .knob3 .title-knob3-bottom, .calf .knob4 .title-knob4-bottom,
.calf .knob5 .title-knob5-bottom {
    color: #FFFFFF;
    font-size: 11px;
    text-align: center;
}

/* Lines */
.calf .line-cols-all {
    position: absolute;
}
.calf span.value-lines{
    font-size: 11px;
    left: 0;
    right: 0;
    top: -15px;
    text-align: center;
}
/* Slider */
/* Screw */

.calf .screw_min {
    background: url(/resources/screw1.png{{{ns}}});
    background-size: 15px;
    height: 15px;
    position: absolute;
    width: 15px;
    top: -7px;

}
/* titles of things */
.calf .title-fild-bottom {
    font-size: 12px;
}

/* button of bypass */

.calf .button-bypass {
    background: url(/resources/toggle2_silver.png{{{ns}}});
    height: 40px;
    position: absolute;
    width: 60px;
}
/* start specific model rules */

.calf-exciter {
    height: 281px;
    width: 520px !important;
}

.calf-exciter .calf-control-group.top{
    width: 406px;
    height: 116px;
    margin-left: 111px;
}
.calf-exciter .calf-control-group.top .knob{
    margin: 0 53px 0 0;
}
.calf-exciter .border-solid-and-radius{
    width: 406px;
    height: 140px;
    margin-left: 70px;
    bottom: 10px;
}
.calf-exciter .border-solid-and-radius .knob{
    margin: 0 0 0 12px;
}
.calf-exciter .slider {
    float: left;
    font-size: 10px;
}
.calf-exciter .toggle {
    font-size: 10px;
    text-align: center;
    float: left;
}
.calf-exciter .toggle .small {
    background-image: url(/resources/toggle1_silver.png{{{ns}}});
margin: auto;
    height: 20px;
    width: 30px;
    cursor: pointer;
}
.calf-exciter .toggle .mid {
    background-image: url(/resources/toggle2_silver.png{{{ns}}});
    margin: auto;
    height: 40px;
    width: 60px;
    cursor: pointer;
}

.calf-exciter .toggle .off{
    background-position: 0 top !important;
}
.calf-exciter .toggle .on{
    background-position: 0 bottom !important;
}

.calf-exciter .slider-horiz {
    background: url(/resources/sliders-vert-disable2.png{{ns}});
    background-size: auto 114px;
    height: 114px;
    margin: auto;
    width: 24px;
    cursor: pointer;
}
.calf-exciter .slider small {
float: left;
display: inline;
margin: -16px 0 0 50px;
line-height: 16px;
font-style: italic
}
.calf-exciter .display {
    background: url(/resources/combo-sm.png{{ns}});
    top: 181px;
    background-size: 50px auto;
    height: 28px;
    margin-left: -10px;
    position: absolute;
    width: 50px;
    color: black;
    font-size: 11px;
    line-height: 28px;
    text-align: center;
}
.calf-exciter .left {
    left: -15px;
}
.calf-exciter .right {
    right: -15px;
}

.knob, .slider-horiz, .tubeh2-off, .freq {
    z-index: 99999;
}

/* Input/Output */
 .calf-pedal-input {
    left:-46px !important;
 }
.calf-pedal-output {
    right:-44px !important;
}