@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);

/* = CONTAINER
================================================ */
.x42-stepseq{{{cns}}} {
    background-image:url(/resources/box.png{{{ns}}});
    background-position:center center;
    background-repeat:no-repeat;
    border-radius: 21px;
    position:absolute;

    background-size:540px 960px;
    height:960px;
    width:540px;
}

/* = Labels
================================================ */
.x42-stepseq{{{cns}}} .center {
    text-align:center;
}

.x42-stepseq{{{cns}}} .x42-brand {
    bottom:6.5%;
    cursor:default;
    right: 60px;
    position:absolute;
    width: 25px;
    margin-bottom:87px;
}

.x42-stepseq{{{cns}}} .x42-brand h1 {
    font-family:"Nexa";
    font-size:28px;
    padding:0;
    margin:0;
    color:#eee;
    text-shadow: -2px 2px 2px #444;
}

.x42-stepseq{{{cns}}} .x42-plugin-name {
    overflow:hidden;
    position:absolute;
    right:44px;
    text-align:center;
    bottom:5.5%;
}

.x42-stepseq{{{cns}}} .x42-plugin-name h1 {
    font-family:"Questrial";
    font-size:19px;
    line-height:1;
    color:#222;
    text-shadow: -1px -1px 0 #bbb;
}

/* = LIGHT ON/OFF
================================================ */
.x42-stepseq{{{cns}}} .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    height:32px;
    width:32px;
    position:absolute;
    right:43px;
    bottom:6.5%;
    margin-bottom:18px;
}

/* = FOOTSWITCH
================================================ */
.x42-stepseq{{{cns}}} .mod-footswitch {
    background-image:url(/resources/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 88px;
    cursor:pointer;
    height:44px;
    margin: auto;
    width: 44px;
    position:absolute;
    bottom:6.5%;
    margin-bottom:52px;
    right:38px;
}

.x42-stepseq{{{cns}}} .mod-footswitch.on {
    background-position: top center !important;
}

/* = KNOBS
================================================ */
.x42-stepseq{{{cns}}} .mod-control-group {
    margin:10px;
    position:relative;
    text-align:center;
    z-index:30;
}

.x42-stepseq{{{cns}}} .bottom-group {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:240px;
    position:absolute;
    bottom:6.5%;
    left:35px;
}

.x42-stepseq{{{cns}}} .mod-control-group .mod-knob {
    overflow:hidden;
    position:relative;
    display:inline-block;
    height:88px;
    margin: 0;
}

.x42-stepseq{{{cns}}} .mod-control-group .mod-knob.midi {
    height:74px;
    margin-bottom:0;
}

.x42-stepseq{{{cns}}} .mod-control-group .mod-knob.wide {
    width:76px;
}

.x42-stepseq{{{cns}}} .mod-control-group span.mod-knob-title,
.x42-stepseq{{{cns}}} .mod-control-group span.mod-knob-right-title {
    color:#333;
    font-size:11px;
    font-weight:bold;
    line-height:1;
    text-transform:uppercase;
    cursor:default;
}

.x42-stepseq{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-right-title {
    bottom:12px;
    display:block;
    height:12px;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:5px;
    text-align:right;
}

.x42-stepseq{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    bottom:12px;
    display:block;
    height:12px;
    left:0;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
}

.x42-stepseq{{{cns}}} .mod-control-group .mod-knob-value {
    color:#333;
    bottom:13px;
    font-size:11px;
    position:absolute;
    line-height:1;
    left:5px;
    z-index:60;
}

.x42-stepseq{{{cns}}} .mod-control-group .mod-knob-image {
    background-image:url(/resources/knob.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 60px;
    height:60px;
    width:60px;
    margin:0 auto;
}

.x42-stepseq{{{cns}}} .mod-control-group .mod-knob-m16-image {
    background-image:url(/resources/m16.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 42px;
    background-color:#222;
    box-shadow: 2px 2px 2px 0px #000 inset, -1px -1px 2px 1px #fff inset;
    height:42px;
    width:48px;
    margin:6px auto 0 auto;
}

.x42-stepseq{{{cns}}} .mod-control-group .mod-knob-step-image {
    background-image:url(/resources/division.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 42px;
    background-color:#222;
    box-shadow: 2px 2px 2px 0px #000 inset, -1px -1px 2px 1px #fff inset;
    height:42px;
    width:30px;
    margin:6px auto 0 auto;
}

.x42-stepseq{{{cns}}} .mod-control-group .mod-knob-note-image {
    background-image:url(/resources/notes.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 42px;
    background-color:#222;
    box-shadow: 2px 2px 2px 0px #000 inset, -1px -1px 2px 1px #fff inset;
    height:42px;
    width:96px;
    margin:0 auto;
}

/* = Push Buttons
================================================ */
.x42-stepseq{{{cns}}} .mod-pushbutton {
    background-image:url(/resources/footswitch.png{{{ns}}});
    background-position:top center;
    background-repeat:no-repeat;
    background-size:auto 88px;
    cursor:pointer;
    height:44px;
    margin: 8px auto 0 auto;
    width: 44px;
}

.x42-stepseq{{{cns}}} .mod-pushbutton.on {
    background-position: bottom center !important;
}

/* = Toggle Buttons
================================================ */
.x42-stepseq{{{cns}}} .buttongrid {
    overflow:hidden;
    margin: 10px auto;
    position:relative;
    z-index: 30;
    border-collapse: collapse;
    border-spacing: 0;
}

.x42-stepseq{{{cns}}} .buttongrid th,
.x42-stepseq{{{cns}}} .buttongrid td {
  margin:0;
  padding:0;
}

.x42-stepseq{{{cns}}} .buttongrid .togglebtn {
    background-color:#444;
    border-radius: 5px;
    cursor:default;
    float:left;
    height: 42px;
    margin: 2px;
    width: 42px;
    overflow: hidden;
    padding: 20px 0 0 6px;
    color:white;
    z-index: 35;
    background-size:20px 20px;
    background-repeat:no-repeat;
    background-position: 21px 1px;
    text-align:left;
}

.x42-stepseq{{{cns}}} .buttongrid .togglebtn.on {
    background-color:#f93;
    box-shadow: 0 -2px 2px 1px #951 inset, -1px -2px 1px 1px #e82 inset;
    padding: 21px 0 0 6px;
    background-position: 21px 2px;
}

.x42-stepseq{{{cns}}} .buttongrid .togglebtn.off {
    box-shadow: 2px 2px 2px 0px #000 inset, -2px -2px 2px 1px #888 inset;
}

/* = COLORS
================================================ */
.x42-stepseq{{{cns}}} h1,
.x42-stepseq{{{cns}}} .mod-enumerated,
.x42-stepseq{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    color:black;
}
.x42-stepseq{{{cns}}} h1 {
    border-color:black;
}
