
    .mod-sooperlooper {
        background-image:url(/resources/background.png{{{ns}}});
        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover;
        height:300px;
        position:relative;
        width:600px;
    }
    .mod-sooperlooper .mod-drag-handle {
        bottom:0;
        left:0;
        position:absolute;
        right:0;
        top:0;
    }
    
    .mod-sooperlooper .mod-controls {
        position: absolute;
        top: 32%;
        left: 1em;
        right: 1em;
        bottom: 2em;
    }
    
    .mod-sooperlooper .mod-control-group {
        border: 1px solid white;
        border-radius: 6px;
        width: calc(50% - 2em);
        height: calc(100%);
        margin: 0 1em !important;
        display: inline-block;
        box-sizing: border-box;
    }
    .mod-sooperlooper .mod-control-group.top {
        margin-left: calc(50%) !important;
        border: 1px solid transparent;
    }
    .mod-sooperlooper-2 .mod-pedal-input {
        top:124px;
        left: -24px;
    }
    .mod-sooperlooper-2 .mod-pedal-output {
        top:50px;
        right: -14px;
    }
    .mod-sooperlooper-2 .mod-pedal-output .mod-output {
        margin-bottom: 109px;
    }
    .mod-sooperlooper .mod-control-group .mod-control {
        display: inline-block;
        width: 64px;
        height: 128px;
        margin-left: 35px;
    }
    .mod-sooperlooper .mod-control-group .mod-control:nth-child(2) {
        margin-left: 53px;
    }
    .mod-sooperlooper .mod-control-group .mod-control-image::after {
        color: white;
        content: "";
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .mod-sooperlooper .mod-control-image {
        z-index: 2000000;
        position: relative;
        width: 64px;
        height: 128px;
        cursor: pointer;
        color: white;
    }
    .mod-sooperlooper .mod-control-image#undo {
        background-image:url(/resources/foot-undo.png{{{ns}}});
    }
    .mod-sooperlooper .mod-control-group .mod-control-image#undo::after {
        content: "UNDO";
    }
    .mod-sooperlooper .mod-control-image#redo {
        background-image:url(/resources/foot-redo.png{{{ns}}});
    }
    .mod-sooperlooper .mod-control-group .mod-control-image#redo::after {
        content: "REDO";
    }
    .mod-sooperlooper .mod-control-image#rec {
        background-image:url(/resources/foot-rec.png{{{ns}}}) !important;
    }
    .mod-sooperlooper .mod-control-group .mod-control-image#rec::after {
        content: "RECORD";
    }
    .mod-sooperlooper .mod-control-image#play {
        background-image:url(/resources/foot-play.png{{{ns}}}) !important;
    }
    .mod-sooperlooper .mod-control-group .mod-control-image#play::after {
        content: "PLAY/PAUSE";
    }
    .mod-sooperlooper .mod-control-image#reset {
        background-image:url(/resources/push_switch1.png{{{ns}}}) !important;
        background-size: cover;
        width: 64px;
        height: 64px;
        cursor: pointer;
        z-index: 2000000;
        position: absolute;
        top: 15px;
        right: 68px;
    }
    .mod-sooperlooper .mod-control-image#reset::after {
        content: "RESET";
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(100%, -50%);
        color: white;
    }
    .mod-sooperlooper .mod-footswitch{
        background-image:url(/resources/switch-key.png{{{ns}}});
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto 154px;
        cursor: pointer;
        height: 77px;
        width: 43px;
        top: 5px;
        right: 200px !important;
        position: absolute;
        z-index: 100;
    }
    .mod-sooperlooper .mod-footswitch.off{
        background-position-y: bottom;
    }
    .mod-sooperlooper .mod-control-image.on {
        background-position-y: bottom !important
    }
    .mod-sooperlooper .mod-light {
        height: 32px;
        width: 32px;
        top: 30px;
        position: absolute;
        right: 160px;
    }
    .mod-sooperlooper .mod-light.off {
        background-image:url(/resources/red-light-off.png{{{ns}}});
    }
    .mod-sooperlooper .mod-light.on {
        background-image:url(/resources/red-light-on.png{{{ns}}});
    }
