
.mod-convolution-reverb.mod-pedal {
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;

    background-image:url(/resources/background.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 400px 540px;
    position: relative;
    height: 540px;
    width: 400px;
}

.mod-convolution-reverb.mod-pedal .mod-convolution-reverb-branding {
    height: 38px;
    text-align: center;
}

.mod-convolution-reverb.mod-pedal .mod-convolution-reverb-branding span {
    border: 2px solid transparent;
    border-bottom-color: #ccc;
    border-style: ridge;
    font-size: 22px;
    line-height: 20px;
    padding: 0px 12px;
    vertical-align: bottom;
}

.mod-convolution-reverb.mod-pedal .mod-control-group {
    position: relative;
    z-index: 35;
}

.mod-convolution-reverb.mod-pedal .mod-enumerated-group {
    margin: 2px 12px;
    border: 2px #000 solid;
}
.mod-convolution-reverb.mod-pedal .mod-enumerated {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.75;
}
.mod-convolution-reverb.mod-pedal .mod-enumerated .mod-enumerated-list {
    display: block !important;
    background-color: #2e2e2e;
    color: #e6e6e6;
    height: 320px;
    overflow: auto;
}
.mod-convolution-reverb.mod-pedal .mod-enumerated .mod-enumerated-list > div {
    padding: 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mod-convolution-reverb.mod-pedal .mod-enumerated .mod-enumerated-list > div.selected {
    background-color: #939393;
    border-left: 10px #565656 solid;
    color: #070707;
    font-weight: bold;
}

.mod-convolution-reverb.mod-pedal .mod-enumerated .mod-enumerated-list > div:hover {
    background-color: #424242;
    cursor: pointer;
}
.mod-convolution-reverb.mod-pedal .mod-enumerated .mod-enumerated-list > div.selected:hover {
    background-color: #9e9e9e;
}

.mod-convolution-reverb-info {
    border: 2px #565656 solid;
    border-radius: 6px;
    background-color: #000;
    margin: 2px 12px;
}
.mod-convolution-reverb-info .file-info-details {
    font-size: 22px;
    margin-left: 4px;
    padding: 2px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mod-convolution-reverb-controls {
    padding: 2px;
    padding-top: 4px;
}

.mod-convolution-reverb-controls .title {
    font-size: 16px;
    font-weight: bold;
}

.mod-convolution-reverb.mod-pedal .mod-knob {
    width: 60px;
    height: 115px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 12px;
}
.mod-convolution-reverb.mod-pedal .mod-knob.mod-convolution-reverb-drylevel {
    left: 50px;
}
.mod-convolution-reverb.mod-pedal .mod-knob.mod-convolution-reverb-wetlevel {
    left: 170px;
}
.mod-convolution-reverb.mod-pedal .mod-knob-image {
    background-image:url(/resources/knob.png{{{ns}}});
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 60px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
}

.mod-convolution-reverb.mod-pedal .mod-knob-current-value {
    font-size: 16px;
    white-space: nowrap;
}

.mod-convolution-reverb.mod-pedal .mod-footswitch {
    background-image: url(/resources/footswitch.png{{{ns}}});
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 132px;
    height: 66px;
    width: 66px;
    cursor: pointer;
    position: absolute !important;
    bottom: 22px;
    right: 45px;
}
.mod-convolution-reverb.mod-pedal .mod-footswitch.off {
    background-position: bottom center;
}

.mod-convolution-reverb.mod-pedal .mod-light {
    background-image: url(/resources/red-light-on.png{{{ns}}});
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    position: absolute !important;
    bottom: 90px;
    right: 64px;
}
.mod-convolution-reverb.mod-pedal .mod-light.off {
    background-image: url(/resources/red-light-off.png{{{ns}}});
}
